@media all and (min-width: 992px) {
	/* .dropdown-menu {
		width: 13rem;
	} */

	.mega-submenu {
		left: 100%;
		top: 0;
		min-width: 25rem;
	}

	.ktm-mega-menu {
		position: static;
	}

	.mega-menu {
		left: 0;
		right: 0;
		width: 100%;
		height: 100vh;
	}

	.dropdown-menu li {
		position: relative;
	}

	.dropdown-menu .submenu {
		display: none;
		left: 100%;
		top: 0;
	}

	.dropdown-menu>li:hover>.submenu,
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
}

@media (max-width: 991px) {

	/* .dropdown-menu .dropdown-menu {
		margin-left: 0.7rem;
		margin-right: 0.7rem;
		margin-bottom: .5rem;
	} */
	
	.navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse {
		overflow-y: auto;
	    max-height: 90vh;
	    margin-top: 10px;
	}
}

@media (min-width: 992px) {

	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 0.8rem;
		padding-left: 0.8rem;
	}
}
/* Projects */

@media (max-width: 575px) {
	.main-menu {
		margin-top: 20px;
	}

	.navbar .megamenu {
		padding: 1rem;
	}

	.custom-menu {
		height: 250px;
    	overflow-y: scroll;
	}

	.nav-item::after {
		background: transparent;
	}

	.u-layout-wrap:not(.u-layout-custom-xs) .u-layout {
		margin-left: 0 !important;
    	margin-right: 0 !important;
	}

	.u-layout-row > .u-size-20 {
		min-width: 100%;
	}

	.u-layout-wrap:not(.u-layout-custom-xs) .u-layout .u-layout-cell {
		border-left: 0 !important;
		border-right: 0 !important;
	}

	.u-section-4 .u-image-1 {
		min-height: 500px;
	}

	.u-section-4 .u-image-2 {
		min-height: 500px;
	}

	.u-section-4 .u-image-3 {
		min-height: 500px;
	}

	.about-us p {
		text-align: center;
	}

	.mission-vision {
		text-align: center;
	}

	.bg-c-lite-green {
		border-right: 1px solid transparent;
		border-bottom: 1px solid var(--primary-color);
	}

	.bank-card-full .bank-profile {
		border-radius: 5px 0 0 0px;
	}

	.bank-card-full h4, .bank-card-full p {
		text-align: center;
	}

	.bank-card-full a {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.user-card-full .user-profile {
		border-radius: 5px 0 0 0px;
	}

	.user-card-full .btn {
		position: relative;
		top: 0px;
	}

	.user-card-full h4, .user-card-full p, .user-card-full h6 {
		text-align: center;
	}

	.user-card-full button {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.operating-cities p, .operating-cities h2 {
		text-align: center;
	}

	.financials {
		text-align: center;
	}

	.financials-card h5 {
		text-align: center;
	}

	.financials-card h5 i {
		margin-top: 10px;
		display: block;
	}

	.center-image {
		border-right: 1px solid transparent;
		border-bottom: 1px solid var(--primary-color);
	}

	.history p, .history h2 {
		text-align: center;
	}

	.turn-key p, .turn-key h2 {
		text-align: center;
	}

	.baking-industry p, .baking-industry h2 {
		text-align: center;
	}

	.financial-services p, .financial-services h2 {
		text-align: center;
	}

	.automated-clearing p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	.resp-rev {
		flex-direction: column-reverse;
	}

	#site-header.hide {
		top: -176px;
	}
}

@media (min-width: 576px) and (max-width: 767px) {

	.u-layout-wrap:not(.u-layout-custom-sm) .u-layout .u-layout-cell {
		border-left: 0 !important;
		border-right: 0 !important;
	}

	.u-layout-row > .u-size-20 {
		min-width: 100%;
	}

	.u-section-4 .u-text-4, .u-section-4 .u-text-6, .u-section-4 .u-text-8 {
		margin: 0px;
	}

	.u-section-4 .u-container-layout-1 {
		padding-left: 0;
		padding-right: 0;
	}

	.u-section-4 .u-image-1 {
		min-height: 500px;
	}

	.u-section-4 .u-image-2 {
		min-height: 500px;
	}

	.u-section-4 .u-image-3 {
		min-height: 500px;
	}

	.u-section-4 .u-layout-cell-2 {
		min-height: 200px;
	}

	.u-section-4 .u-layout-cell-3 {
		min-height: 200px;
	}

	.u-section-4 .u-layout-cell-6 {
		min-height: 200px;
	}

	.resp-rev {
		flex-direction: column-reverse;
	}

	.bg-c-lite-green {
		border-right: 1px solid transparent;
		border-bottom: 1px solid var(--primary-color);
	}

	.about-us {
		text-align: center;
	}

	.mission-vision {
		text-align: center;
	}

	.operating-cities {
		text-align: center;
	}

	.financials {
		text-align: center;
	}

	.financials-card h5 {
		text-align: center;
	}

	.financials-card h5 i {
		margin-top: 10px;
		display: block;
	}

	.center-image {
		border-right: 1px solid transparent;
		border-bottom: 1px solid var(--primary-color);
	}

	.history p, .history h2 {
		text-align: center;
	}

	.turn-key p, .turn-key h2 {
		text-align: center;
	}

	.baking-industry p, .baking-industry h2 {
		text-align: center;
	}

	.financial-services p, .financial-services h2 {
		text-align: center;
	}

	.automated-clearing p {
		text-align: center;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.user-card-full .btn {
		position: relative;
		top: 0px;
	}

	.u-section-4 .u-image-1 {
		min-height: 500px;
	}

	.u-section-4 .u-image-2 {
		min-height: 500px;
	}

	.u-section-4 .u-image-3 {
		min-height: 500px;
	}

	.resp-rev {
		flex-direction: column-reverse;
	}

	.about-us {
		text-align: center;
	}

	.mission-vision {
		text-align: center;
	}

	.operating-cities {
		text-align: center;
	}

	.financials {
		text-align: center;
	}

	.financials-card {
		height: 100%;
	}

	.financials-card h5 {
		text-align: center;
	}

	.financials-card h5 i {
		margin-top: 10px;
		display: block;
	}

	.history p, .history h2 {
		text-align: center;
	}

	.turn-key p, .turn-key h2 {
		text-align: center;
	}

	.baking-industry p, .baking-industry h2 {
		text-align: center;
	}

	.financial-services p, .financial-services h2 {
		text-align: center;
	}

	.automated-clearing p {
		text-align: center;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {
	.user-card-full .btn {
		position: relative;
		top: 0px;
	}

	.u-section-4 .u-layout-cell-2 {
		min-height: 250px;
	}

	.u-section-4 .u-layout-cell-3 {
		min-height: 250px;
	}

	.u-section-4 .u-layout-cell-6 {
		min-height: 250px;
	}

	.u-section-4 .u-image-1 {
		min-height: 500px;
	}

	.u-section-4 .u-image-2 {
		min-height: 500px;
	}

	.u-section-4 .u-image-3 {
		min-height: 500px;
	}

	.financials-card {
		height: 100%;
	}

	.financials-card h5 i {
		margin-top: 10px;
		display: block;
	}
}

@media (min-width: 1200px) and (max-width: 1399px) {
	.user-card-full .btn {
		position: relative;
		top: 0px;
	}

	.u-section-4 .u-layout-cell-2 {
		min-height: 250px;
	}

	.u-section-4 .u-layout-cell-3 {
		min-height: 250px;
	}

	.u-section-4 .u-layout-cell-6 {
		min-height: 250px;
	}

	.u-section-4 .u-image-1 {
		min-height: 500px;
	}

	.u-section-4 .u-image-2 {
		min-height: 500px;
	}

	.u-section-4 .u-image-3 {
		min-height: 500px;
	}
}

@media (min-width: 1400px) and (max-width: 1599px) {

	.navbar .mega-menu { 
		padding: 1.5rem; 
	}

	.user-card-full .btn {
		position: absolute;
		bottom: 20px;
	}

	.u-section-4 .u-text-4, .u-section-4 .u-text-6, .u-section-4 .u-text-8 {
		margin: 20px 26px 0 0;
	}

	.u-section-4 .u-layout-cell-2 {
		min-height: 300px;
	}

	.u-section-4 .u-layout-cell-3 {
		min-height: 300px;
	}

	.u-section-4 .u-layout-cell-6 {
		min-height: 300px;
	}

	.u-section-4 .u-image-1 {
		min-height: 574px;
	}

	.u-section-4 .u-image-2 {
		min-height: 574px;
	}

	.u-section-4 .u-image-3 {
		min-height: 574px;
	}
}

@media (min-width: 1600px) and (max-width: 1919px) {

	.navbar .mega-menu { 
		padding: 1.5rem; 
	}

	.user-card-full .btn {
		position: absolute;
		bottom: 20px;
	}

	.u-section-4 .u-text-4, .u-section-4 .u-text-6, .u-section-4 .u-text-8 {
		margin: 20px 26px 0 0;
	}

	.u-section-4 .u-layout-cell-2 {
		min-height: 300px;
	}

	.u-section-4 .u-layout-cell-3 {
		min-height: 300px;
	}

	.u-section-4 .u-layout-cell-6 {
		min-height: 300px;
	}

	.u-section-4 .u-image-1 {
		min-height: 574px;
	}

	.u-section-4 .u-image-2 {
		min-height: 574px;
	}

	.u-section-4 .u-image-3 {
		min-height: 574px;
	}
}

@media (min-width: 1200px) {

	.navbar .mega-menu { 
		padding: 1.5rem; 
	}

	.user-card-full .btn {
		position: absolute;
		bottom: 20px;
	}

	.u-section-4 .u-text-4, .u-section-4 .u-text-6, .u-section-4 .u-text-8 {
		margin: 20px 26px 0 0;
	}

	.u-section-4 .u-layout-cell-2 {
		min-height: 300px;
	}

	.u-section-4 .u-layout-cell-3 {
		min-height: 300px;
	}

	.u-section-4 .u-layout-cell-6 {
		min-height: 300px;
	}

	.u-section-4 .u-image-1 {
		min-height: 574px;
	}

	.u-section-4 .u-image-2 {
		min-height: 574px;
	}

	.u-section-4 .u-image-3 {
		min-height: 574px;
	}
}