@media all and (min-width: 992px) {
	/* .dropdown-menu {
		width: 13rem;
	} */

	.mega-submenu {
		left: 100%;
		top: 0;
		min-width: 25rem;
	}

	.ktm-mega-menu {
		position: static;
	}

	.mega-menu {
		left: 0;
		right: 0;
		width: 100%;
		height: 100vh;
	}

	.dropdown-menu li {
		position: relative;
	}

	.dropdown-menu .submenu {
		display: none;
		left: 100%;
		top: 0;
	}

	.dropdown-menu>li:hover>.submenu,
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
}

@media (max-width: 991px) {

	/* .dropdown-menu .dropdown-menu {
		margin-left: 0.7rem;
		margin-right: 0.7rem;
		margin-bottom: .5rem;
	} */
	
	.navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse {
		overflow-y: auto;
	    max-height: 90vh;
	    margin-top: 10px;
	}
}

@media (min-width: 992px) {

	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 0.8rem;
		padding-left: 0.8rem;
	}
}
/* Projects */

@media (max-width: 575px) {

	.u-layout-wrap:not(.u-layout-custom-xs) .u-layout {
		margin-left: 0 !important;
    	margin-right: 0 !important;
	}

	.u-layout-row > .u-size-20 {
		min-width: 100%;
	}

	.u-layout-wrap:not(.u-layout-custom-xs) .u-layout .u-layout-cell {
		border-left: 0 !important;
		border-right: 0 !important;
	}

	.u-section-4 .u-image-1 {
		min-height: 513px;
	}

	.u-section-4 .u-image-2 {
		min-height: 441px;
	}

	.u-section-4 .u-image-3 {
		min-height: 512px;
	}
}

@media (max-width: 991px) {
	.u-section-4 .u-container-layout-1 {
		padding-left: 0;
		padding-right: 0;
	}

	.u-section-4 .u-image-1 {
		min-height: 712px;
	}

	.u-section-4 .u-layout-cell-2 {
		min-height: 100px;
	}

	.u-section-4 .u-image-2 {
		min-height: 701px;
	}

	.u-section-4 .u-image-3 {
		min-height: 622px;
	}

}

@media (max-width: 576px) {
	.main-menu {
		margin-top: 20px;
	}

	.bg-c-lite-green {
		border-right: 1px solid transparent;
	}

	.user-card-full .btn {
		position: relative;
		top: 0px;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.u-layout-wrap:not(.u-layout-custom-sm) .u-layout .u-layout-cell {
		border-left: 0 !important;
		border-right: 0 !important;
	}

	.u-layout-row > .u-size-20 {
		min-width: 100%;
	}
}


@media (min-width: 768px) and (max-width: 991px) {
	.user-card-full .btn {
		position: relative;
		top: 0px;
	}
}