:root {
    --primary-color: #df022d;
    --bs-black: #000;
    --bs-gray: #333;
    --bs-white: #fff;
    --bs-light-gray: #e6e6e6;
    --bs-dark-gray: #bfbfbf;
    --bg-color: #f6f6f6;
    --green: #1a3815;
    /* --font-family: "Open Sans", sans-serif !important; */
    --font-family: 'Proxima Nova Alt Rg';
}

body {
    font-family: 'Proxima Nova Alt Rg' !important;
    background-color: #fff;
}

p {
    font-size: 17px;
}

/* Header */

#site-header {
    position: fixed;
    background: #fff;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all .3s ease;
}

#site-header.hide {
    top: -166px;
}

.top-bar {
    height: 100px;
}

.top-bar .nav-link {
    color: var(--bs-black);
}

.main-menu .nav-link {
    color: var(--bs-white);
    font-size: 17px;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--primary-color);
}

.nav-link:focus, .nav-link:hover {
    color: var(--primary-color);
}

.navbar .nav-item .dropdown-menu {
    background-color: var(--bs-black);
    opacity: 1;
    border-color: var(--bs-black);
    /* margin-top: 10px; */
}

.dropdown-menu {
    border-radius: 0px;
}

.dropdown-item:hover {
    background-color: var(--primary-color) !important;
    color: #fff;
}

.bg-black {
    background: var(--bs-black);
}

.visible-title {
    visibility: visible;
}

.quicklinks ul li a {
    color: var(--bs-white);
}

.scroll-logo {
    height: 40px;
}

/* header {
    z-index: 99;
} */

/* .nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: var(--primary-color);
    transition: 0.4s
}

.nav-item:hover::after {
    width: 100%
} */

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
} */


/* Mega Menu */

/* .mega-menu li {
    width: 100%;
    padding: 3px 5px;
    background: linear-gradient(to right, var(--primary-color) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition: all 1s ease;
}

.mega-menu li:hover {
    background-position: left bottom;
}

.mega-menu li:hover a {
    color: var(--bs-white);
} */

/* .mega-menu ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--primary-color);
    height: 2px;
}

.mega-menu ul li a:hover:after {
    width: 100%;
} */

/* .mega-menu ul li a:hover {
    font-weight: 700;
} */

/* .mega-menu li {
    padding: 5px 0px;
}

.mega-menu ul li a {
    position: relative;
    color: var(--bs-white);
    text-decoration: none;
}

.mega-menu ul li:before,
.mega-menu ul li:after {
	content: "";
	position: absolute;
	height: 3px;
	width: 0;
	background-color: var(--primary-color);
	transition: 0.5s;
}

.mega-menu ul li:after {
	left: 0;
	bottom: 0px;
}

.mega-menu ul li:before {
	right: 0;
	top: 0px;
}

.mega-menu ul li:hover:after,
.mega-menu ul li:hover:before {
	width: 100%;
}

.mega-menu ul li a,
.mega-menu ul li a:after,
.mega-menu ul li a:before {
  transition: all .5s;
}  */

.main-menu {
    position: sticky;
    z-index: 2;
}

.heading a {
    text-decoration: none;
}

.mega-menu li a {
    color: var(--bs-white);
    text-decoration: none;
}

.mega-menu li a:hover {
    color: var(--primary-color);
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0px !important;
}

.heading {
    color: var(--primary-color);
}

.heading a {
    color: var(--primary-color);
}

.navbar-toggler-icon {
    color: var(--bs-white);
    background-image: url(../images/menu.png);
}

.ktm-mega-menu {
    position: static;
}

.top-heading {
    /* background-color: #f2f2f2; */
    padding: 15px 0px;
    margin-top: 100px;
}

.page-header {
    color: var(--bs-black);
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 10px;
    display: block;
    background: linear-gradient(90deg, transparent 25%, #df022d 25%, #df022d 75%, transparent 75%);
    background-size: 50% 3px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

.about-page-header {
    background-size: 25% 3px;
}

.shareholder-bank-header {
    background-size: 70% 3px;
}

.bod-header {
    background-size: 65% 3px;
}

.management-header {
    background-size: 65% 3px;
}

.business-partners-header {
    background-size: 62% 3px;
}

.financials-header {
    background-size: 32% 3px;
}

.automated-clearing-header {
    background-size: 70% 3px;
}

.eibc-header {
    background-size: 123% 3px;
}

.e-cheque-header {
    background-size: 30% 3px;
}

.pccd-header {
    background-size: 155% 3px;
}

.member-banks-header {
    background-size: 90% 3px;
}

.contact-us-header {
    background-size: 35% 3px;
}

.projects-header {
    background-size: 25% 3px;
}

.events-header {
    background-size: 17% 3px;
}

.ism-header {
    background-size: 10% 3px;
}

.ism-management-header {
    background-size: 65% 3px;
}

.ism-offerings-header {
    background-size: 48% 3px;
}

.terms-header {
    background-size: 70% 3px;
}

.career-header {
    background-size: 22% 3px;
}

.ecomplaint-header {
    background-size: 52% 3px;
}

.locator-page-header {
    background-size: 40% 3px;
}

.about-etrust-page-header {
    background-size: 65% 3px;
}

.kpi-page-header {
    background-size: 75% 3px;
}

.digicert-page-header {
    background-size: 148% 3px;
}

.kpi-tokens-page-header {
    background-size: 75% 3px;
}

.penetration-page-header {
    background-size: 70% 3px;
}

.fbr-digital-page-header {
    background-size: 45% 3px;
}

.cm-pak-page-header {
    background-size: 60% 3px;
}

.cmpak-page-header {
    background-size: 165% 3px;
}

.pro-tls-page-header {
    background-size: 80% 3px; 
}

/* Home Page */

.content {
    padding: 100px 0px 0px;
    position: relative;
}

/* Slider */

.slider .carousel-inner {
    padding: 100px 0px;
}

.carousel {
    /* height: 80vh; */
    z-index: 1;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--bs-black);
}

.carousel-indicators .active {
    opacity: 1;
    background-color: var(--primary-color);
}

.animation {
    animation-delay: 0.5s;
}

/* About */

/* .about {
    background: url(../images/about-bg.jpg) no-repeat;
    background-size: cover; 
    background-position: center;
    padding: 150px 0px;
} */

.about h5 {
    color: var(--primary-color);
    text-transform: uppercase;
}

.about p {
    /* color: var(--bs-white); */
    text-align: justify;
}

/* Services */

.services {
    background: linear-gradient(to right, #262626, #4d4d4d);
}

.services h2 {
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: center;
    font-weight: 700;
}

.services .card {
    position: relative;
    overflow: hidden;
    /* background-color: var(--primary-color); */
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    border-radius: 0px;
    border-color: transparent;
    background-color: transparent;
}

.services h3 {
    color: var(--bs-white);
}

.services h3 span {
    color: var(--primary-color);
}

.services p {
    color: var(--bs-white);
}

.custom-btn {
    background-color: var(--primary-color);
    transition: 0.5s;
    border-color: var(--primary-color);
}

.custom-btn:hover, .custom-btn:focus {
    box-shadow: inset 8.5em 0 0 0 var(--bs-gray);
    border-color: var(--bs-gray);
}

.discover-btn {
    background-color: var(--primary-color);
    transition: 0.5s;
    border-color: var(--primary-color);
}

.discover-btn:hover, .discover-btn:focus {
    box-shadow: inset 9.5em 0 0 0 var(--bs-gray);
    border-color: var(--bs-gray);
}

/* IBCS */

.ibcs h2 {
    color: var(--primary-color);
}

/* eCheque */

.echeque h2 {
    color: var(--primary-color);
}

/* Projects */

.projects h2 {
    color: var(--primary-color);
    text-transform: uppercase;
}

.u-gutter-0 .u-layout {
    margin: 0px;
}

.u-layout-row {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: -webkit-fit-content;
    min-height: fit-content;
    max-width: 100%;
}

.u-layout-col, .u-layout-row, .u-layout-col > * {
    display: flex;
}

.u-layout-row > .u-size-20 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
    min-width: 33.33333333%;
}

.u-layout-row > * {
    max-height: 100%;
    min-height: -webkit-fit-content;
    min-height: fit-content;
}

.u-layout-col {
    flex-direction: column;
    min-height: -webkit-fit-content;
    min-height: fit-content;
}

.u-layout-col, .u-layout-row {
    flex: 1 1 auto;
}

.u-gutter-0 .u-layout .u-layout-cell {
    border: 0px solid transparent;
}

section.u-image:not(.u-hover-box), .u-sheet.u-image:not(.u-hover-box), .u-group.u-image:not(.u-hover-box), .u-layout-cell.u-image:not(.u-hover-box) {
    overflow: visible;
}

.u-section-4 .u-container-layout-1 {
    padding: 30px 0;
}

.u-valign-bottom {
    justify-content: flex-end;
}

.u-valign-middle, .u-valign-top, .u-valign-bottom {
    display: flex;
    flex-direction: column;
}

.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
    transition-duration: inherit;
}

.u-gutter-0 .u-layout .u-layout-cell {
    border: 0px solid transparent;
}

.u-layout-col > .u-size-40 {
    flex: 40 0 auto;
}

.u-align-left {
    text-align: left;
}

.u-layout-cell {
    position: relative;
    display: flex;
    background-clip: padding-box;
    background-origin: padding-box;
}

.u-section-4 .u-container-layout-2 {
    padding: 30px;
}

.u-section-4 .u-container-layout-2 {
    padding: 30px;
}

.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
    transition-duration: inherit;
}

.u-body h1, .u-body h2, .u-body h3, .u-body h4, .u-body h5, .u-body h6 {
    padding: 0;
}

.u-text {
    word-wrap: break-word;
    position: relative;
}

.u-inner-container-layout, .u-container-layout > * {
    position: relative;
}

.u-text-default {
    display: table;
    align-self: flex-start;
}

.u-text {
    word-wrap: break-word;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    /* max-height: 3.6em; */
}

.u-section-4 .u-container-layout-3 {
    padding: 30px;
}

.u-section-4 .u-image-1 {
    background-image: url(../images/nadra-verisys.jpg);
    background-position: 50% 50%;
}

.u-palette-2-base, .u-body.u-palette-2-base, .u-palette-2-base > .u-container-layout:before, .u-container-style.u-palette-2-base:before, .u-container-layout.u-container-layout.u-palette-2-base:before, .u-table-alt-palette-2-base tr:nth-child(even) {
    color: #ffffff;
    background-color: #e3353c;
}

.u-section-4 .u-image-2 {
    background-image: url(../images/utility-payment-processing.jpg);
    background-position: 50% 50%;
}

.u-palette-5-light-2, .u-body.u-palette-5-light-2, .u-palette-5-light-2 > .u-container-layout:before, .u-container-style.u-palette-5-light-2:before, .u-container-layout.u-container-layout.u-palette-5-light-2:before, .u-table-alt-palette-5-light-2 tr:nth-child(even) {
    color: #111111;
    background-color: #e0e5eb;
}

.u-section-4 .u-image-3 {
    background-image: url(../images/bise-automated-results.jpg);
    background-position: 50% 50%;
}

.u-white, .u-body.u-white, .u-white > .u-container-layout:before, .u-container-style.u-white:before, .u-container-layout.u-container-layout.u-white:before, .u-table-alt-white tr:nth-child(even) {
    color: var(--bs-white);
    background-color: var(--bs-gray);
}

.u-section-4 .u-container-layout-5 {
    padding: 30px;
}

.u-layout-col > .u-size-40 {
    flex: 40 0 auto;
}

.u-section-4 .u-container-layout-6 {
    padding: 30px;
}

/* Partners */

.partners h2 {
    color: var(--primary-color);
    text-transform: uppercase;
}

.partners h4 {
    color: var(--primary-color);
}

.partners .card {
    border-radius: 0px;
    border-left: 15px solid var(--bs-gray);
    height: 100%;
}

.partners .card a {
    color: var(--primary-color);
    text-decoration: none;
}

.partners .card .card-header {
    background-color: #fff;
}

.partners .card img {
    width: 150px;
    padding-bottom: 15px;
}

/* About Us Page */

.about-row {
    background-color: var(--bg-color);
}

.vision-heading {
    color: var(--primary-color);
}

.mission-heading {
    color: var(--primary-color);
}

.objective-heading {
    color: var(--primary-color);
}

.operating-heading {
    color: var(--primary-color);
}

.core-heading {
    color: var(--primary-color);
}

.history-heading {
    color: var(--primary-color);
}

.turn-key-heading {
    color: var(--primary-color);
}

.banking-heading {
    color: var(--primary-color);
}

.financial-services-heading {
    color: var(--primary-color);
}

/* Shareholder Bank Page */

.bank-card-full {
    overflow: hidden;
}

.bank-name {
    color: var(--primary-color);
}

.bank-card-full, .bank-card-full .row {
    height: 100%;
}

.bank-card-full .bank-profile {
    border-radius: 5px 0 0 5px;
}

/* Board of Directors Page */

.bod-card {
    border-radius: 10px;
    height: 100%;
    text-align: center;
    /* border: 2px solid var(--primary-color); */
    padding: 35px 0px;
    background: #f2f2f2;
}

/* Management Page */

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border: none;
    /* margin-bottom: 30px; */
}

.name {
    color: var(--bs-black);
}

.designation {
    color: var(--primary-color);
    font-weight: 700;
}

.user-card-full, .user-card-full .row {
    height: 100%;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: #f2f2f2;
}

.user-profile {
    padding: 20px 0;
}

.img-radius {
    border-radius: 5px;
}

.card .card-body p {
    line-height: 25px;
}

.card .card-block p {
    line-height: 25px;
}

.text-muted {
    color: #919aa3 !important;
}

.profile-modal .modal-content {
    background: #f2f2f2;
}

.profile-modal .modal-header {
    border-bottom: 1px solid transparent !important;
    height: 40px;
}

.bg-c-lite-green {
    border-right: 1px solid var(--primary-color);
}

.modal .modal-dialog {
	-webkit-transition: -webkit-transform 0.5s ease-out;
	transition: -webkit-transform 0.5s ease-out;
	-o-transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
	-webkit-transform: translate(0, -50px);
	-ms-transform: translate(0, -50px);
	transform: translate(0, -50px);
}

/* Business Partners Page */

.business-partners .card {
    border-radius: 0px;
    border-left: 15px solid var(--bs-gray);
    height: 100%;
}

/* Financials Page */

.financials {
    color: var(--primary-color);
}

.financials-row {
    background-color: var(--bs-light-gray);
    padding: 30px 10px;
}

.financials-row a {
    color: var(--bs-black);
    text-decoration: none;
}

.financials-row a i {
    color: var(--primary-color);
    padding-top: 13px;
}

/* Processing Centers Contact Details Page */

.center-card-full {
    height: 100%;
}

.center-card-full {
    overflow: hidden;
}

.center-image {
    padding-left: 0px;
    padding-right: 0px;
}

/* .center-image img {
    height: 100%;
} */

.center-card-full h6 {
    font-weight: 600;
}

.place {
    color: var(--primary-color);
}

.central-operations-img {
    background-image: url(../images/centers/central-operations.jpg);
    background-size: cover;
    background-position: center;
}

.abbottabad-img {
    background-image: url(../images/centers/abbottabad.jpg);
    background-size: cover;
    background-position: center;
}

.attock-img {
    background-image: url(../images/centers/attock.jpg);
    background-size: cover;
    background-position: center;
}

.bahawalpur-img {
    background-image: url(../images/centers/bahawalpur.jpg);
    background-size: cover;
    background-position: center;
}

.dg-khan-img {
    background-image: url(../images/centers/dera-ghazi-khan.jpg);
    background-size: cover;
    background-position: center;
}

.di-khan-img {
    background-image: url(../images/centers/dera-ismail-khan.jpg);
    background-size: cover;
    background-position: center;
}

.faisalabad-img {
    background-image: url(../images/centers/faisalabad.jpg);
    background-size: cover;
    background-position: center;
}

.gujranwala-img {
    background-image: url(../images/centers/gujranwala.jpg);
    background-size: cover;
    background-position: center;
}

.hyderabad-img {
    background-image: url(../images/centers/hyderabad.jpg);
    background-size: cover;
    background-position: center;
}

.islamabad-img {
    background-image: url(../images/centers/islamabad.jpg);
    background-size: cover;
    background-position: center;
}

.jhang-img {
    background-image: url(../images/centers/jhang.jpg);
    background-size: cover;
    background-position: center;
}

.jhelum-img {
    background-image: url(../images/centers/jhelum.jpg);
    background-size: cover;
    background-position: center;
}

.karachi-img {
    background-image: url(../images/centers/karachi.jpg);
    background-size: cover;
    background-position: center;
}

.lahore-img {
    background-image: url(../images/centers/lahore.jpg);
    background-size: cover;
    background-position: center;
}

.larkana-img {
    background-image: url(../images/centers/larkana.jpg);
    background-size: cover;
    background-position: center;
}

.multan-img {
    background-image: url(../images/centers/multan.jpg);
    background-size: cover;
    background-position: center;
}

.muzaffarabad-img {
    background-image: url(../images/centers/muzaffarabad.jpg);
    background-size: cover;
    background-position: center;
}

.nawabshah-img {
    background-image: url(../images/centers/nawabshah.jpg);
    background-size: cover;
    background-position: center;
}

.peshawar-img {
    background-image: url(../images/centers/peshawar.jpg);
    background-size: cover;
    background-position: center;
}

.quetta-img {
    background-image: url(../images/centers/quetta.jpg);
    background-size: cover;
    background-position: center;
}

.ry-khan-img {
    background-image: url(../images/centers/rahim-yar-khan.jpg);
    background-size: cover;
    background-position: center;
}

.rawalpindi-img {
    background-image: url(../images/centers/rawalpindi.jpg);
    background-size: cover;
    background-position: center;
}

.sahiwal-img {
    background-image: url(../images/centers/sahiwal.jpg);
    background-size: cover;
    background-position: center;
}

.sargodha-img {
    background-image: url(../images/centers/sargodha.jpg);
    background-size: cover;
    background-position: center;
}

.sialkot-img {
    background-image: url(../images/centers/sialkot.jpg);
    background-size: cover;
    background-position: center;
}

.sukkur-img {
    background-image: url(../images/centers/sukkur.jpg);
    background-size: cover;
    background-position: center;
}

.vehari-img {
    background-image: url(../images/centers/vehari.jpg);
    background-size: cover;
    background-position: center;
}

/* Member Banks Page */

.banks-table thead tr {
    background-color: var(--primary-color);
    color: var(--bs-white);
}

.banks-table img {
    width: 50px;
}

.banks-table td {
    vertical-align: middle;
}

/* NIFT E-Trust Page */

.etrust-services .card {
    background-color: var(--primary-color);
    height: 100%;
}

.etrust-services h2 {
    text-transform: uppercase;
}

/* Managed KPI Service */

.kpi a {
    color: var(--primary-color);
    text-decoration: none;
}

/* CM Pak Req Form Page */

.cm-pak a {
    color: var(--primary-color);
    text-decoration: none;
}

/* FBR Digitak Page*/

.fbr-digital a {
    color: var(--primary-color);
    text-decoration: none;
}

/* Pro TLS/SSL */

.pro-tls h5 {
    color: var(--primary-color);
}

.pro-tls h3, .pro-tls h6 {
    color: var(--primary-color);
}

.pro-tls .column {
    background-color: var(--primary-color);
    padding: 20px;
    border: 1px solid var(--bs-white);
}

.pro-tls .column h6 {
    color: var(--bs-white);
    text-align: center;
    margin-bottom: 0px;
}

/* ISM */

.ism a {
    color: var(--primary-color);
    text-decoration: none;
}

/* ISM Management */

.ism-management a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}

/* Projects Page */

.project .card {
    height: 100%;
}

.project1 {
    color: var(--bs-white);
    background-color: var(--primary-color);
}

.project2 {
    color: var(--bs-black);
    background-color: #e0e5eb;
}

.project3 {
    color: var(--bs-white);
    background-color: var(--bs-gray);
}

.project-text {
    word-wrap: break-word;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.project-heading {
    word-wrap: break-word;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.sidebar {
    background-color: var(--bs-white);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.175);
}

.sidebar .nav-link {
    color: var(--bs-black);
    font-size: 17px;
    border-bottom: 1px solid var(--primary-color);
}

.sidebar .nav-link.active {
    color: var(--primary-color);
}

.projects-heading {
    color: var(--primary-color);
}

.sidebar h5 {
    text-align: center;
    font-weight: 600;
}

/* Events Page */

.events .card {
    height: 100%;
}

.event1 {
    color: var(--bs-white);
    background-color: var(--primary-color);
}

.event2 {
    color: var(--bs-black);
    background-color: #e0e5eb;
}

.event3 {
    color: var(--bs-white);
    background-color: var(--bs-gray);
}

.event-text {
    word-wrap: break-word;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.events-heading {
    color: var(--primary-color);
}

.event-link {
    color: var(--primary-color);
    text-decoration: none;
}

.events img {
    width: 100%;
}

/* E-Complaint Page */

.ecomplaint label {
    color: var(--primary-color);
}

.captchatext {
    border: 1px solid var(--primary-color);
    text-align: center;
    padding: 10px;
}

.redText {
    color: var(--primary-color);
    font-weight: bold;
}

.greenText {
    color: var(--green);
    font-weight: bold;
}

/* Back To Top */

.js .cd-top--fade-out {
	opacity: .5;
}

.js .cd-top--is-visible {
	visibility: visible;
	opacity: 1;
}

.js .cd-top {
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s,visibility .3s,background-color .3s;
}

.cd-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: inline-block;
	height: 40px;
	width: 40px;
	box-shadow: 0 0 10px rgba(0,0,0,.05) !important;
	background-color: var(--primary-color);
    padding: 8px 15px;
}


/* Footer */

footer {
    background-color: var(--bs-light-gray);
    padding: 25px 0px 20px;
    border-top: 1px solid var(--primary-color);
}

footer h3 {
    color: var(--primary-color);
    text-transform: uppercase;
}

footer p {
    color:var(--bs-gray);
}

footer hr {
    color:var(--bs-white);
}

footer ul {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

footer .icon {
    color: var(--primary-color);
}

footer a {
    color:var(--bs-gray);
    text-decoration: none;
}

footer a:hover {
    color:var(--primary-color);
}

footer .nav-link {
    color: var(--bs-gray);
}

footer .nav-item::after {
    display: none;
}

.top-footer {
    background-color: var(--bs-dark-gray); 

}

.bottom-footer {
    border-top: 2px solid var(--primary-color);
}