:root {
    --primary-color: #df022d;
    --bs-black: #000;
    --bs-gray: #333;
    --bs-white: #fff;
    --font-family: "Open Sans", sans-serif !important;
}

body {
    font-family: var(--font-family);
}

.top-bar .nav-link {
    color: var(--bs-black);
}

.nav-link {
    color: var(--bs-white);
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--primary-color);
}

.nav-link:focus, .nav-link:hover {
    color: var(--primary-color);
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: var(--primary-color);
    transition: 0.4s
}

.nav-item:hover::after {
    width: 100%
}

.navbar .nav-item .dropdown-menu {
    background-color: var(--bs-black);
    opacity: 0.95;
}

.dropdown-menu {
    border-radius: 0px;
}

.dropdown-item:hover {
    background-color: var(--primary-color) !important;
    color: #fff;
}

/*.top-bar {
     border-bottom: 2px solid var(--primary-color); 
    padding: 5px 0px;
}*/

.bg-black {
    background: var(--bs-black);
}

/* .main-menu {
    border-bottom: 2px solid var(--primary-color);
} */

/* Mega Menu */

.main-menu {
    position: sticky;
}

.navbar .mega-menu { 
    padding: 2rem; 
}

.mega-menu li {
    width: 100%;
    padding: 5px;
    background: linear-gradient(to right, var(--primary-color) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition: all 1s ease;
}

.mega-menu li:hover {
    background-position: left bottom;
}

.mega-menu li:hover a {
    color: var(--bs-white);
}

.mega-menu a {
    color: var(--bs-white);
    text-decoration: none;   
}

.heading {
    color: var(--primary-color);
}

.heading a {
    color: var(--primary-color);
}

.navbar-toggler-icon {
    color: var(--bs-white);
    background-image: url(../images/menu.png);
}

.ktm-mega-menu {
    position: static;
}

/* Home Page */

/* Sllider */

.slider .carousel-inner {
    padding: 100px 0px;
}

.carousel {
    height: 80vh;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--bs-black);
}

.carousel-indicators .active {
    opacity: 1;
    background-color: var(--primary-color);
}

.animation {
    animation-delay: 0.5s;
}

/* About */

/* .about {
    background: url(../images/about-bg.jpg) no-repeat;
    background-size: cover; 
    background-position: center;
    padding: 150px 0px;
} */

.about h5 {
    color: var(--primary-color);
    text-transform: uppercase;
}

.about p {
    /* color: var(--bs-white); */
    text-align: justify;
}

/* Services */

.services {
    background: linear-gradient(to right, #262626, #4d4d4d);
}

.services h2 {
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: center;
    font-weight: 700;
}

.services .card {
    position: relative;
    overflow: hidden;
    /* background-color: var(--primary-color); */
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    border-radius: 0px;
    border-color: transparent;
    background-color: transparent;
}

.services h3 {
    color: var(--bs-white);
}

.services h3 span {
    color: var(--primary-color);
}

.services p {
    color: var(--bs-white);
}

.custom-btn {
    background-color: var(--primary-color);
    transition: 0.5s;
    border-color: var(--primary-color);
}

.custom-btn:hover, .custom-btn:focus {
    box-shadow: inset 8.5em 0 0 0 var(--bs-gray);
    border-color: var(--bs-gray);
}

.discover-btn {
    background-color: var(--primary-color);
    transition: 0.5s;
    border-color: var(--primary-color);
}

.discover-btn:hover, .discover-btn:focus {
    box-shadow: inset 9.5em 0 0 0 var(--bs-gray);
    border-color: var(--bs-gray);
}

/* IBCS */

.ibcs h3 {
    color: var(--primary-color);
}

/* eCheque */

.echeque h3 {
    color: var(--primary-color);
}

/* Projects */

.projects h2 {
    color: var(--primary-color);
    text-transform: uppercase;
}

.u-gutter-0 .u-layout {
    margin: 0px;
}

.u-layout-row {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: -webkit-fit-content;
    min-height: fit-content;
    max-width: 100%;
}

.u-layout-col, .u-layout-row, .u-layout-col > * {
    display: flex;
}

.u-layout-row > .u-size-20 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
    min-width: 33.33333333%;
}

.u-layout-row > * {
    max-height: 100%;
    min-height: -webkit-fit-content;
    min-height: fit-content;
}

.u-layout-col {
    flex-direction: column;
    min-height: -webkit-fit-content;
    min-height: fit-content;
}

.u-layout-col, .u-layout-row {
    flex: 1 1 auto;
}

.u-gutter-0 .u-layout .u-layout-cell {
    border: 0px solid transparent;
}

section.u-image:not(.u-hover-box), .u-sheet.u-image:not(.u-hover-box), .u-group.u-image:not(.u-hover-box), .u-layout-cell.u-image:not(.u-hover-box) {
    overflow: visible;
}

.u-section-4 .u-container-layout-1 {
    padding: 30px 0;
}

.u-valign-bottom {
    justify-content: flex-end;
}

.u-valign-middle, .u-valign-top, .u-valign-bottom {
    display: flex;
    flex-direction: column;
}

.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
    transition-duration: inherit;
}

.u-gutter-0 .u-layout .u-layout-cell {
    border: 0px solid transparent;
}

.u-section-4 .u-layout-cell-2 {
    min-height: 370px;
}

.u-layout-col > .u-size-40 {
    flex: 40 0 auto;
}

.u-align-left {
    text-align: left;
}

.u-layout-cell {
    position: relative;
    display: flex;
    background-clip: padding-box;
    background-origin: padding-box;
}

.u-section-4 .u-container-layout-2 {
    padding: 30px;
}

.u-section-4 .u-container-layout-2 {
    padding: 30px;
}

.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
    transition-duration: inherit;
}

.u-section-4 .u-text-3 {
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    margin: 29px auto 0 0;
}

.u-body h1, .u-body h2, .u-body h3, .u-body h4, .u-body h5, .u-body h6 {
    padding: 0;
}

.u-text {
    word-wrap: break-word;
    position: relative;
}

.u-inner-container-layout, .u-container-layout > * {
    position: relative;
}

.u-text-default {
    display: table;
    align-self: flex-start;
}

.u-section-4 .u-text-4 {
    margin: 20px 26px 0 0;
}

.u-text {
    word-wrap: break-word;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    /* max-height: 3.6em; */
}

.u-section-4 .u-layout-cell-3 {
    min-height: 370px;
}

.u-section-4 .u-container-layout-3 {
    padding: 30px;
}

.u-section-4 .u-image-1 {
    min-height: 574px;
    background-image: url(../images/nadra-verisys.jpg);
    background-position: 50% 50%;
}

.u-palette-2-base, .u-body.u-palette-2-base, .u-palette-2-base > .u-container-layout:before, .u-container-style.u-palette-2-base:before, .u-container-layout.u-container-layout.u-palette-2-base:before, .u-table-alt-palette-2-base tr:nth-child(even) {
    color: #ffffff;
    background-color: #e3353c;
}

.u-section-4 .u-image-2 {
    background-image: url(../images/utility-payment-processing.jpg);
    background-position: 50% 50%;
    min-height: 572px;
}

.u-palette-5-light-2, .u-body.u-palette-5-light-2, .u-palette-5-light-2 > .u-container-layout:before, .u-container-style.u-palette-5-light-2:before, .u-container-layout.u-container-layout.u-palette-5-light-2:before, .u-table-alt-palette-5-light-2 tr:nth-child(even) {
    color: #111111;
    background-color: #e0e5eb;
}

.u-section-4 .u-image-3 {
    min-height: 574px;
    background-image: url(../images/bise-automated-results.jpg);
    background-position: 50% 50%;
}

.u-white, .u-body.u-white, .u-white > .u-container-layout:before, .u-container-style.u-white:before, .u-container-layout.u-container-layout.u-white:before, .u-table-alt-white tr:nth-child(even) {
    color: var(--bs-white);
    background-color: var(--bs-gray);
}

.u-section-4 .u-container-layout-5 {
    padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
    min-height: 370px;
}

.u-layout-col > .u-size-40 {
    flex: 40 0 auto;
}

.u-section-4 .u-container-layout-6 {
    padding: 30px;
}

/* Partners */

.partners h2 {
    color: var(--primary-color);
    text-transform: uppercase;
}

.partners h4 {
    color: var(--primary-color);
}

.partners .card {
    border-radius: 0px;
    border-left: 15px solid var(--bs-gray);
    height: 100%;
}

.partners .card a {
    color: var(--primary-color);
    text-decoration: none;
}

.partners .card .card-header {
    background-color: #fff;
}

.partners .card img {
    width: 150px;
    padding-bottom: 15px;
}

/* Footer */

footer {
    background-color: var(--bs-gray);
    padding: 50px 0px
}

footer h3 {
    color: var(--primary-color);
    text-transform: uppercase;
}

footer p {
    color:var(--bs-white);
}

footer hr {
    color:var(--bs-white);
}

footer ul {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

footer .icon {
    color: var(--primary-color);
}

footer a {
    color:var(--bs-white);
    text-decoration: none;
}

footer a:hover {
    color:var(--primary-color);
}

footer .nav-link {
    color: var(--bs-white);
}

footer .nav-item::after {
    display: none;
}

.top-footer {
    background-color: var(--bs-black);
}

.bottom-footer {
    border-top: 2px solid var(--primary-color);
}